@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
canvas {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
a {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #000000; }

html,
body {
  font-size: 10pt;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: black; }

header {
  background-color: #3D3D3D;
  padding: 10pt;
  margin-bottom: 20pt; }
  header h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 200%;
    color: white;
    margin-bottom: 5pt; }
  header h2 {
    text-transform: uppercase;
    font-size: 120%;
    color: white; }

#grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10pt; }
  #grid-container #letter {
    grid-column: 1 / 1;
    grid-row: 1 / 1; }
  #grid-container aside {
    grid-column: 2 / 2;
    grid-row: 1 / 1; }

#letter p {
  margin-bottom: 20pt;
  line-height: 1.2; }

#letter #locationdate,
#letter #recipentcompany {
  margin-bottom: 40pt; }

aside {
  border-left: 1px solid #3D3D3D;
  padding-left: 10pt; }
  aside li {
    margin-bottom: 20pt;
    color: #3D3D3D; }
    aside li span {
      display: block;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase; }
    aside li a {
      display: block; }
